<p>event-binding2 works!</p>
<!-- referance variable #refVariableName -->

<!-- <input #inputname type="text" placeholder="Enter Name" value=""><br>
<button (click)="onClick(inputname)">click here</button> -->

<!-- realtime example -->
<input #num1 type="text" placeholder="Ennter Frist Number"> <br><br>
<input #num2 type="text" placeholder="Enter Second Number"> <br><br>
<button (click)="addition(num1,num2)">addition</button><br><br>
<input type="text" [value]="res" >


<!-- change event -->
<!-- <input (change)="onClick()" type="text" placeholder="enter name" onfocus="true"> -->

<!-- change event using referance variable -->
<!-- <input #refvar (change)="funclick(refvar)" type="text" placeholder="Enter Name"> -->
