a{
    margin: 10px;
}

button{
    margin: 15px;
    padding: 5px;
    border: 1px dotted red;
    border-radius: 3px;
    
}
button:hover{
    background: green;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-bottom:solid 3px black;
    border-right:solid 3px black;
}
.loginbox{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    
    background-color: aquamarine;
    height: 250px;
    width: 50%;

}
#table{
    margin-left: 25%;


}